body
{
    margin: auto;
    width: 1000px;
    background-color: white;
    color: #404040;
    font: 12px arial;
}
header img, nav
{
    display: inline-block;
    vertical-align: top;
}
nav
{
    position: relative;
    left: 310px;
    top: 90px;
    height: 40px;
    padding-right:20px;
    background-color: #5a5a5a;
    border-radius: 5px;
    text-transform: uppercase;

}
nav li 
{
    display: inline-block;
    margin-right: 5px;
    padding-right: 10px;
}
nav a
{
    text-decoration: none;
    color: #169fe5;
}
nav a:hover
{
    color: white;
}
#intro
{
    margin-top: 2px;
    background: #e9eaeb repeat-x;
    height: 315px;
    border: 0px;
    margin-right: 20px;
}
#intro img
{
    margin-top: 15px;
    position: relative;
}
#image-description
{
    position: relative;
    bottom:70%;
    left: 15%;
    padding:5px ;
    font-size: 1.3em;
    text-align: center;
    margin-left: 20px;
    width: 600px;
    background-color:rgba(24, 24, 24, 0.5) ;
    color: white;
}
.titre
{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color:#404040;
}

.icons
{
    border-radius: 50%;
    border: 3px solid #808080;
    padding:5px;
    margin-left: 20px;
}
.icons:hover
{
    border: 4px solid #169fe5;
}
#presentation
{
    border:3px double #cdcdcd ;
    height: 230px;
    width: 960px;
    margin-bottom: 20px;
}
#presentation article
{
    position:relative;
    left: 120px;
    bottom: 100px;
    text-align:justify ;
}
section h1
{
    margin-left: 10px;
    color: #169fe5;
}
section h2
{
    color: #169fe5;
    margin-left: 20px;
}
#presentation p 
{
    width: 800px;
    font-size: 1.1em;

}
.icons, article p
{
    display: inline-block;
    vertical-align: top;
}
article p
{
    width: 25%;
    margin-left: 20px;
    font-size: 1em;
    text-align: left;
    margin-right: 10px;
}
.button
{
    display: inline-block;
    height: 25px;
    position: relative;
    top: 60px;
    border: 1px solid #169fe5;
    border-radius: 3px;
    background-color: #169fe5;
    font-size: 0.8em;
    text-align: center;
    padding: 5px 5px 0px 5px;
}
section a
{
    text-decoration: none;
    color: white;
}
.element
{
    vertical-align: top;
    display: inline-block;
    width: 290px;
    height: 200px;
    border: 3px double #cdcdcd;
    padding-right: 20px;
    text-align:justify;
    margin: 2px;
}
footer
{
    margin-top: 20px;
    background-color: #5a5a5a;
    color: #978787;
}
.pied-page
{
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    width: 30%;
}