@font-face
{
    font-family:'Philosopher';
    src: url('philosopher/Philosopher-Regular.ttf');

}
body
{
    width: 900px;
    font:'philosopher' ;
    background: url('images/fond.jpg');
    color: white;
    margin: auto;
}
header
{
    background: url('images/separateur.png') repeat-x bottom;
}
#titre_principal
{
    font: 1.3em 'Tangerine';
}
header h1
{
    margin-bottom: 0px;
}
header h2
{
    margin-top: 0px;
}
nav
{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}
nav li
{
    display: inline-block;
    margin: 35px;
    vertical-align: center;
}
nav a, nav a:active, nav a:visited
{
    color: white;
    text-decoration: none;
}
nav a:hover
{
    color: rgba(68, 7, 7, 0.781);
    text-decoration: underline;
}
#banniere_image
{
    background: url('images/ensa.PNG');
    height:200px; 
    box-shadow:0px 4px 10px black;
    border-radius: 5px;
    position: relative;
}
#banniere_description
{
    position: absolute;
    bottom: 0px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 33px;
}
.bouton_rouge
{
    position: absolute;
    top: 25%;
    right: 10px;
    border: 2px solid #760001;
    background: url('images/fond_degraderouge.png') repeat-x;
    height: 20px;
    padding: 5px 5px 0px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}
.bouton_rouge:hover
{
    text-decoration: #760001 underline;
    color: #760001;
}
section p
{
    font-size: 0.9em;
}
article, aside
{
    display: inline-block;
    vertical-align: top;
}
article
{
    width: 600px;
}
article p
{
    font-size: 1em;
}

section h1,footer h1
{
    font-size: 1em;
    text-transform: uppercase;

}
.ico_categorie
{
  vertical-align: middle;
  margin-right: 5px;
}
aside
{
    position: relative;
    top: 15px; 
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    width: 260px ;
    margin-bottom: 10px;
    background-color: #706b64;
    padding-left: 20px;
    font-size: 0.9em;
}
#fleche_bulle
{
    position: relative;
    right: 33px;
}
#photo_profil img 
{
    border: 1px solid black;
    font-size: 25px;
    position: relative;
    bottom: 25px;
    left: 35px;
}
aside p img
{
    margin:  3px;
}
footer
{
    background: url('images/separateur.png') repeat-x top, url('images/ico_top.png') no-repeat top center, url('images/ombre.png') repeat-x top;
    margin-top: 7px;
}
#mes_photos, #mes_competences, #centre_interet
{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    padding-left: 3px;
}
#centre_interet
{
    width: 25%;
}
#mes_photos
{
    width: 35%;
}
#mes_competences
{
    width: 35%;
}
#mes_photos img
{
    margin: 2px;
    border: solid black;
    border-width: 2px 2px 0px;
}
#mes_photos img:first-child
{
    border-left: 0px;
}
#mes_photos img:last-child
{
    border-right: 0px;
}
#mes_photos img:hover
{
    transform: scale(1.5);
}
#mes_competences img:hover
{
    transform: rotate(25deg);
}